{% extends "base.html" %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Friend List </h2>
    </div>
    <div class="panel-body">
        <div class="table table-responsive">
            <table class="table table-hover" id="myTable" style="width: none; font-family : 'Century Gothic' ">
                <thead>
                <th><h4>Nama</h4></th>
                <th><h4>NPM</h4></th>
                <th><h4>Email</h4></th>
                <th><h4>Expertise</h4></th>
                </thead>
            </table>
        </div>
    </div>
</div>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#myTable').DataTable( {
            "data" : {{ data |safe }},
            "columns" : [
                {"data" : "username"},
                {"data" : "npm"},
                {"data" : "email"},
                {"data" : "expertise"}
            ],
        } );
    });

    var search = setTimeout(function (){
      var input = $('#myTable_filter label input')
      input.val("{{ key |safe }}");
      input.trigger("keyup");
    }, 100);


</script>
{% endblock %}
