strong{
  color:red;

}
.content-wrap{
  position:relative;
  left:50%;
  transform: translateX(-50%);
  max-width: 50%;
  background-color: white;
  color:black;
}
h4{
  color:blue;
  font-weight: 1000;
}
