<section class="main-riwayat" id="riwayat">
	<style>	
		/*riwayat-khons{
			background-image: url("http://1.bp.blogspot.com/-LML_MQrbHbU/VnPevmK4DHI/AAAAAAAABTQ/gM0xB-p3_8g/s1600/UI-fasilkom-b.png");
			background-repeat: no-repeat;
			background-position: right top;*/
			/*margin-right: 200px;*/
		}
		/*all*/
		table{
			width:50%;
			border: 1px solid black;
			/*border-collapse: collapse;*/
			text-align: left;
		}
		/*header*/
		th {
		    background-color: black;
		    color: white;
		}
		/*body*/
		td:nth-child(odd){
			background-color: #eee; /*grey*/
		}
		td:nth-child(even) {
			background-color:#fff; /*white*/
			text-align: center;
		}
	</style>
	<div class="container">
		<div class="row">
			<div class="riwayat-khons">
				<table class="table">
					<!-- <caption>
						Riwayat Mahasiswa
					</caption> -->
					<thead>
					    <tr>
					      <th>Mata Kuliah</th>
					      <th style="text-align: center;">Nilai</th>
				    	</tr>
				  	</thead>
					<tbody>
					{% for riwayat in riwayats %}
						<tr>
							<td>{{ riwayat.kelas.nm_mk_cl.nm_mk }}</td>
							<td>{{ riwayat.nilai }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
